@import "src/styles/variables";

.keybord {
  width: 100%;
  height: 310px;
  padding: 10px;
  background-color: $color-background;
  border-radius: 5px;
}
.keybord__wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.keybord__row{
  display: flex;
  gap: 10px;
}